.completed-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    border: 2px solid black;
    padding: 10px;
    
    .completed-todos{
        padding: .3rem;
        border-radius: .3rem;
        font-style: oblique;
        background-color: lightgreen;
    }
}